<!DOCTYPE HTML>
<HTML>
   <HEAD>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <LINK type="text/css" rel="stylesheet" href="css/mystyle.css"/>
      <TITLE>MyBatis based on FreeMarker</TITLE>
   </HEAD>
   <BODY>
      <DIV th:include = "thymeleaf/layout/header::book_header"> </DIV>
		  <BR>
		  
      <DIV th:include = "~{thymeleaf/layout/error_body::error_body}"> </DIV>
      <BR>
      
      <DIV th:include = "~{thymeleaf/layout/footer::book_footer}"> </DIV>
   </BODY>
</HTML>