<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  
  <!-- 引入外部配置文件 -->
  <properties resource = "properties/db.properties"></properties>
  
  <typeAliases>
     <package name="com.learn.mybatis.entity" /> <!-- 自动扫描实体类(Java Bean)所在的包,并注册扫描到的实体类(Java Bean) -->
  </typeAliases>
  
  <environments default="development">
    <!-- 默认(由标签<environments>的属性default选择指定)数据库配置 --> 
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED"> 
        <property name="driver" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <package name="com.learn.mybatis.mapper"/> <!-- 自动扫描接口所在的包,并把扫描到的接口注册为接口映射器 -->
  </mappers>
</configuration>
