<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
    这个namespace的值很关键,它的值与接口ISubjectMapper的完整包名一致,
    就是通过它与ISubjectMapper接口建立映射关系的;
-->
<mapper namespace = "com.learn.ssm.school.mapper.ISubjectMapper">
  <!-- 增 -->
  <insert id = "insertSubject" parameterType = "Subject">
     INSERT INTO subjects
     <trim prefix = "(" suffix = ")" suffixOverrides = ",">
        <if test = "id != null"> id, </if>
        <if test = "name != null"> name, </if>
        <if test = "enterTime != null"> entertime, </if>
        <if test = "leaveTime != null"> leavetime </if>
     </trim>
     <trim prefix = "VALUES (" suffix = ")" suffixOverrides = ",">
        <if test = "id != null"> #{id}, </if>
        <if test = "name != null"> #{name}, </if>
        <if test = "enterTime != null"> #{enterTime}, </if>
        <if test = "leaveTime != null"> #{leaveTime} </if>
     </trim>
  </insert>
  
  <!-- 删 -->
  <delete id = "deleteAllSubjects">
     DELETE FROM subjects
  </delete>
  
  <delete id = "deleteSubjects">
     DELETE FROM subjects
     WHERE id in
     <foreach item = "item" index = "index" collection = "array" open = "(" separator  = "," close = ")">
        #{item}
     </foreach>
  </delete>
  
  <delete id = "deleteSubject" parameterType = "Subject">
     DELETE FROM subjects
     WHERE id = #{id}
  </delete>
  
  <delete id = "deleteSubjectById" parameterType = "int">
     DELETE FROM subjects
     WHERE id = #{id}
  </delete>
  
  <!-- 改 -->
  <update id = "updateSubject" parameterType = "Subject">
     UPDATE subjects
     <set>
        <if test = "name != null"> name = #{name}, </if>
        <if test = "entertime != null"> entertime = #{enterTime}, </if>
        <if test = "leavetime != null"> leavetime = #{leaveTime}  </if>
     </set>
     WHERE id = #{id}
  </update>
  <update id = "updateSubjectLeaveTimeById" parameterType = "int">
     UPDATE subjects
     SET leavetime = NOW()
     WHERE id = #{id}
  </update>
  
  <!-- 查 -->
  <select id = "selectAllSubjects" resultType = "Subject">
     SELECT *
     FROM subjects
  </select>
  
  <select id = "selectOpendSubjects"  resultType = "Subject">
     SELECT *
     FROM subjects
     WHERE leavetime IS NULL
  </select>
  
  <select id = "selectCloseSubjects"  resultType = "Subject">
     SELECT *
     FROM subjects
     WHERE leavetime IS NOT NULL
  </select>
  
  <select id = "selectSubjectById" parameterType = "int" resultType = "Subject">
     SELECT *
     FROM subjects
     WHERE id = #{id}
  </select>
</mapper>
