<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
  xmlns = "http://www.springframework.org/schema/beans"
  xsi:schemaLocation = "http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd"
>

<!--
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation =
                       http://www.springframework.org/schema/mvc
                       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context-4.3.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                       http://www.springframework.org/schema/tx
                       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
-->

    <!-- STEP1: 配置处理器控制器(需开发);
         控制器是开发者自己实现的,用于实现HTTP请求的业务逻辑控制;
    -->
    <bean id = "hello1" class = "com.learn.spring.controller.HelloController1" />
    <bean id = "hello2" class ="com.learn.spring.controller.HelloController2" />
    
    <!-- STEP2: 配置处理器适配器组件(只配置,不开发);
         使用SimpleControllerHandlerAdapter类充当适配器时,
         所编写的Handler/Controller都必须要实现Controller接口;
    -->
    <bean class = "org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    
    <!-- STEP3: 配置处理器映射器组件(只配置,不开发);
         使用类SimpleUrlHandlerMapping作为映射器时,是在Bean的ID
         把Bean组件的ID属性作为中间桥梁,在URL与控制器之间进行映射;
         将Bean的ID属性值作为URL进行查找,需要在配置Handler时指定Bean的ID属性值(就是URL);
         当在浏览器地址栏输入包含"/hello.do"的URL请求时,HandlerMapping就会使用与这个Bean对应
         的class属性值指定的类的实例处理这个请求的映射;
    -->
    <bean class = "org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
       <property name = "mappings">
          <props>
             <prop key = "/hello1.do">hello1</prop>
             <prop key = "/hello2.do">hello2</prop>
          </props>
       </property>
    </bean>
    
    <!-- STEP4: 配置视图解析器组件(只配置,不开发)
         视图解析器用于解析视图,也就是把数据渲染到视图里面;
         默认使用JSP模板,需要进行JSTL标签的处理,CLASSPATH指定的路径里面需要有JSTL的包;
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" />
</beans>